#logo {
    max-height: 4rem;
    width: 0;
    min-width: 100px;
}

#logo img {
    max-height: 100%;
    max-width: 100%;
}

#tomtar-img {
    background-image: var(--bg-img);
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height: 400px;
}

i.bi {
    color: var(--bs-gray-600);
}

.big-icon.container i.bi {
    color: var(--neutral-900);
}

.circle {
    border-radius: 50%;
}

.about-us-item {
    background-color: var(--bs-gray-100);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
}

.about-us-item img {
    display: block;
    width: 20ch;
    max-width: 100%;
}